@page
@using DemoAzureAd.Model
@model DemoAzureAd.UI.PersonalLog.Pages.Logs.CreateModel
@{
    ViewData["Title"] = "Create Log";
}

<h1>Create Log</h1>

<form method="post">
    <input type="hidden" asp-for="Entry.Author" />
    <div class="form-group">
        <label asp-for="Entry.Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Entry.Title" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Entry.AccessLevel" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Entry.AccessLevel" asp-items="Html.GetEnumSelectList<AccessLevel>()"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Entry.Content" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Entry.Content" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Record</button>
        </div>
    </div>
</form>
