@page
@using DemoAzureAd.Model
@model DemoAzureAd.UI.PersonalLog.Pages.Logs.CreateModel
@{
    ViewData["Title"] = "Create Log";
}

<h1>Create Log</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="PersonalLog.Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PersonalLog.Title" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PersonalLog.AccessLevel" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="PersonalLog.AccessLevel" asp-items="Html.GetEnumSelectList<AccessLevel>()"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PersonalLog.Content" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="PersonalLog.Content" class="form-control" rows="5"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
